.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253,242,248,0.6);
  z-index: 1000;

  /* Mặc định */
  opacity: 0;
  visibility: hidden;

  /* Đảm bảo cho cả đi vào và đi ra */
  transition: 0.3s all ease-in-out;

  & > div {
    scale: 0.5;
    transition: 0.3s all ease-in-out;
    width: 100%;
    max-width: 400px;
  }
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  

  & > div {
    scale: 1;
  }
}