@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

main {
  min-height: calc(100dvh - 404px);
}

a {
  text-decoration: none!important;
}

.text-shadow {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}