@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

main {
  min-height: calc(100dvh - 340px);
  @apply py-8;
}

a {
  text-decoration: none!important;
}

.text-shadow {
  text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
}

.box-shadow {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.focus-error {
  @apply bg-red-100 border-1 border-red-700
}